[submodule "submodules/nDPI"]
	path = submodules/nDPI
	url = https://github.com/efraimzz/nDPI
[submodule "submodules/zdtun"]
	path = submodules/zdtun
	url = https://github.com/efraimzz/zdtun
[submodule "submodules/libpcap"]
	path = submodules/libpcap
	url = https://github.com/efraimzz/libpcap
[submodule "submodules/MaxMind-DB-Reader-java"]
	path = submodules/MaxMind-DB-Reader-java
	url = https://github.com/emanuele-f/MaxMind-DB-Reader-java
[submodule "submodules/PCAPdroid-ushark-bin"]
	path = submodules/PCAPdroid-ushark-bin
	url = https://github.com/efraimzz/PCAPdroid-ushark-bin
